:root{
    --main-color: #E7E154;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #000;
}
/* INDEX.HTML(MAIN PAGE) */
.hero{
    background-image: url(images/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100svh;
    background-color: #E7E154 ;
}
.hero-cnt{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.hero-cnt h1{
    color: #0B6623 ;
   font-size: xx-large;
   padding: 2.8em 0;
   text-align: center;
}
span{
    color: #E7E154;
    font-weight: 700;
}
button{
    padding: 0.8em 1.2em;
    border-radius: 2em;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    width: 12%;
    margin-top: 16em;
}
button:hover{
  background-color: #E7E154;
  transition: 0.3s;
}
marquee{
    color: #E7E154;
    padding: 1em;
}
.gallery{
    background-color: rgba(232, 227, 84, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: none;
}
.gallery img{
    width: 33%;
    height: 500px;
    padding: 0.5em;
}
footer{
    background-color: rgb(232, 227, 84);
    width: 100%;
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.socials{
    width: 10%;
}
.socials h5{
    text-decoration: underline;
    text-wrap: nowrap;
    padding: 1em;
}
.socials ul{
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-between;
}
.socials ul li{
    padding: 1em;
}

/* ORDER.HTML */
.oderpageHero{
    background-image: url(images/order-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    background-color: #E7E154;
    padding: 2.8em;
} 
#my-form {
    margin: 0 auto;
    width: 50%; 
    padding: 2.8em; 
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2); 
    background-color: rgba(256 , 256,256,0.5);
}
#my-form h3{
    text-align: center;
    padding: 1em;
    font-weight: 600;
    text-decoration: underline;
}
label {
    display: block; 
    margin-bottom: 0.5em;
  }
input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
    width: 100%; 
    padding: 1em;
    border: 1px solid #ccc; 
    border-radius: 1em; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2); 
  }
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    width: 100%; 
    padding: 1em;
    border: 1px solid #ccc; 
    border-radius: 1em; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2); 
    margin-bottom: 1em;
}
option {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
}
.submitButton {
    background-color: #4CAF50; 
    color: #fff; 
    padding: 0.8em 1.2em;
    border: none; 
    border-radius: 0.5em;
    cursor: pointer; 
   margin: 1em auto;
   display: block;
   font-size: 1rem;
  }
.submitButton:hover {
    background-color: #45a049; 
}

.homebtn{
    position: absolute;
    bottom: 30px;
    right: 0;
}
.homebtn a:hover{
    background-color: #E7E154;
  }

/* POPUP */
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }
  .open-Popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  }
  .popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
  }
  .popup button{
    width: 100%;
   margin-top: 50px;
   padding: 10px 0;
   background: #6fd649;
   color: #fff;
   border: 0;
   outline: none;
   font-size: 14px;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  }










  /*MEDIA QUESRIES */
  @media screen and (max-width: 480px) {
    button{
        width: 50%;
        margin-top: 6em;
    }
    .gallery img{
        width: 100%;
    }
    .socials{
        width: 50%;
    }
    .oderpageHero{
        padding: 1em;
    }
    #my-form{
        width: 100%;
        margin-bottom: 5em;
    }
    .homebtn{
        bottom: -22em;
        margin: 1em;
    }
  }
  @media screen and (min-width: 480px) {
    button{
        width: 20%;
    }
  }